    #sipariş img, #menü img {
    width: 80%;
    }


    body{
    text-align: center;
    background: linear-gradient(to bottom right, #c96c47, #FAF6F0);
    }
    
    
    * {box-sizing: border-box;
    }  
 

    #menü, #sipariş {
    width: 45%;
    display: inline-block;
    border: 1px solid black;  
    border-radius: 5px;
    vertical-align: top;
    
    }
   
   
    #menü img, #sipariş img, #iletişim img{
    border-radius: 10px;
    padding: 3px;
    height: 50%;
    }
    
   
    #menü a, #sipariş a{
    display: inline-block;
    border: 1px solid black;
    height: 150px; 
    width: 70%;
    border-radius: 7px;
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
    background-color:#EEEDED;
    }
   
   
    #menü p, #sipariş p{
    background-color: rgb(203, 54, 54);
    border-radius: 30px;
    margin: 15px 10px;
    font-family: 'Nunito', sans-serif; 
    }
   
   
    h2{
    letter-spacing: 2px;
    font-family: 'Italiana', sans-serif;
    font-size: 30px;
    }


    #menü a:hover, #sipariş a:hover{
   color: rgb(18, 18, 18);
   transform: translateY(-2px);
   box-shadow: 2px 2px 3px rgb(18, 18, 18);
   background-color: aliceblue;
    }
   
   
    #menü a:active, #sipariş a:active, #iletişim a:active{
   color: aliceblue;
   transform: translateY(-2px);
   box-shadow: 2px 2px 3px rgb(18, 18, 18);
   background-color: black;   
    }

   
    #konum, #iletişim {
    display: inline-block;
    width: 80%;
    height: 40%;  
    border-radius: 5px;
    margin-top: 3%;
    }
   
   
    #iletişim p{
        background-color: rgb(203, 54, 54);
        border-radius: 8px;
        margin: 15px 10px;      
    }


    #iletişim a {
    display: inline-block;
    border: 1px solid black;
    border-radius: 7px;
    margin: 3px;
    width: 130px; 
    height: 90px;
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
    background-color:#EEEDED;
    }  


    #iletişim a:hover {
    background-color: azure;
    transform: translateY(-2px);
    box-shadow: 2px 2px 3px rgb(18, 18, 18);
    color: azure;

    }  
   
   
    #iletişim a:active {
    background-color: black;
    transform: translateY(-2px);
    box-shadow: 2px 2px 3px rgb(18, 18, 18);
    }  

    
    iframe{
    border-radius: 20px;
    margin: 10px; 
    transition: 0.3s;
    }


    iframe:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 3px rgb(18, 18, 18);
    }


    #hakkimizda{
        margin-bottom: 7%;
    }

    #sabit2{
    width: 50%;
    background: linear-gradient(to right, rgb(31, 29, 29), rgb(245, 6, 6));
    position: fixed;
    bottom: 0%;
    color: aliceblue;
    border-top-right-radius: 15px;
    height: 5%;
    right: 0%;
    text-align: right;
    
    }


    #sabit1{
    width: 50%;
    background: linear-gradient(to right, rgb(245, 6, 6), rgb(31, 29, 29));
    position: fixed;
    bottom: 0%;
    color: aliceblue;
    border-top-left-radius: 15px;
    height: 5%;
    left: 0%;
    text-align: left;
    }


    #sabit2 a { 
    margin-right: 7%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 60px;
    height: 30px;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition:0.3s;
    }


    #sabit2 a:hover { 
    margin-right: 7%;
    background-color:aliceblue;
    color: black;
    transform: translateY(-2px);
    box-shadow: 2px 2px 3px rgb(18, 18, 18);
    }


    #sabit1 p {
    margin-left: 7%;
    font-weight: bold;
    margin-top: 2%;
    }



